.footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.text {
    font-size: 0.875em;
    text-align: center !important;
    --bs-text-opacity: 1;
    color: var(--bs-gray-600) !important;
}

@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }
}